/* RESET */
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;   
  overflow-y: hidden;
}


.auth-wrapper {
  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url("../Photos/bg.png") no-repeat center center / cover;
  position: relative;
}

/* DARK OVERLAY */
.auth-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
}

/* CARD */
.auth-card {
  position: relative;
  z-index: 1;

  width: 400px;
  padding: 40px;

  background: rgba(255, 255, 255, 0.92);
  border-radius: 18px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.25);
  text-align: center;

  animation: fadeUp 0.6s ease;
}

/* LOGO */
.auth-logo {
  width: 150px;
  margin-bottom: 15px;
}

/* TITLE */
.auth-card h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 6px;
}

/* SUBTITLE */
.auth-card p {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 25px;
}

/* INPUTS */
.auth-card input {
  width: 100%;
  padding: 14px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  background: #f9fafb;
}

.auth-card input:focus {
  outline: none;
  border-color: black;
  background: white;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
}

/* BUTTON */
.auth-card button {
  width: 100%;
  padding: 14px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
}

.auth-card button:hover {
  background: #111;
}

/* FOOTER */
.auth-footer {
  margin-top: 18px;
  font-size: 13px;
}

.auth-footer span {
  font-weight: 700;
  cursor: pointer;
}

/* ANIMATION */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
  .auth-card {
    width: 90%;
    padding: 28px;
  }

  .auth-card h2 {
    font-size: 20px;
  }

  .auth-card input,
  .auth-card button {
    padding: 12px;
    font-size: 14px;
  }
}
